<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.CategoryMapper">
   <resultMap id="categoryMap" type="com.bjpowernode.domain.Category">
<!--由于不再是单表查询了,就需要指定查询的结果集中,哪个字段对应类别id和类别名称-->
       <id property="id" column="cid"/>
       <result property="name" column="cname"/>
<!--
collection:用于查询集合
column:当前表中的主键
-->
<collection property="goodsList" column="id" ofType="com.bjpowernode.domain.Goods">
    <id property="id" column="id"/>
    <result property="cid" column="cid"/>
    <result property="name" column="name"/>
    <result property="marketprice" column="marketprice"/>
    <result property="estoreprice" column="estoreprice"/>
    <result property="num" column="num"/>
    <result property="imgurl" column="imgurl"/>
    <result property="ishot" column="ishot"/>
    <result property="status" column="status"/>
    <result property="createtime" column="createtime"/>
    <result property="description" column="description"/>
</collection>
   </resultMap>
    <select id="get" resultMap="categoryMap">
        SELECT b.*,a.name cname from category a,goods b where a.id=b.cid and a.id=#{id}
    </select>
    <resultMap id="categoryMap2" type="com.bjpowernode.domain.Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
<!--查询类别对应的商品==>第二次查询
column:第2次查询的条件
select:指定具体使用哪个标签进行查询-->
        <collection property="goodsList" column="id" select="com.bjpowernode.mapper.GoodsMapper.getByCid"/>
    </resultMap>
<!--查询类别===>第一次查询-->
    <select id="get2" resultMap="categoryMap2">
        select  * from category where id=#{id}
    </select>
    <select id="get3" resultType="com.bjpowernode.domain.Category">
        select  * from category where id=#{id}
    </select>
</mapper>