<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入数据库配置文件-->
    <properties resource="jdbc.properties"/>
<!--全局配置-->
    <settings>
<!--将执行的sql及查询结果输出到控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--开启嵌套查询的延迟加载策略-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--指定对象的哪些方法触发一次延迟加载,默认值是equals,clone,hashCode,toString
指定空,即仅当调用获取延迟对象的方法时,才触发延迟加载-->
        <setting name="lazyLoadTriggerMethods" value=""/>
<!--开启驼峰命名映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--开启二级缓存,默认开启-->
      <setting name="cacheEnabled" value="true"/>
    </settings>

<!--批量起别名-->
    <typeAliases>
<!--为指定包下的所有类起别名(短名称),别名就是类名-->
        <package name="com.bjpowernode.domain"/>
    </typeAliases>
<!--配置环境(数据源)-->
    <environments default="development">
        <environment id="development">
<!--事务管理器-->
            <transactionManager type="JDBC"/>
<!--带连接池的数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!--注册映射文件-->
    <mappers>
<!--        <mapper resource="UserMapper.xml"/>-->
<!--        <mapper resource="CategoryMapper.xml"/>-->
<!--        <mapper resource="GoodsMapper.xml"/>-->
<!--批量注册映射文件-->
        <package name="com.bjpowernode.mapper"/>
    </mappers>
</configuration>